body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
 /* display: flex;
  justify-content: center;*/
  text-align: center;
  margin-top: 30px;
  text-shadow: 2px 2px 3px #b9b9b9;
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
}

li {
  font-family: 'Montserrat', sans-serif;
 /* display: flex;
  justify-content: center;*/
  font-weight: bold;
  margin: 0 20px;
  list-style: none;
  font-size: 14px;
}

p {
	text-align: center;

}

.sections{

}

.img-subs img{
	width: 250px;
	border-bottom: 20px solid transparent;
}

.sub-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin: auto;
	padding-top: 30px;
	flex-wrap: wrap;
}

.text-subs{
	padding: 0 50px;
	width: 400px;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cacaca;
	margin-top: 100px;
	border-top: 1px solid #cacaca;
	height: 70px;
	line-height: 70px;
}

  #mc_embed_signup{
  	clear:left; 
  	margin-top: 70px;
  	display: flex;
  	justify-content: center;
  }

  #mc_embed_signup input.button{
  	width: auto;
  }

  .button-fom {
  	padding: 0 20px;
  	height: 40px;
  	border-radius: 10px;
  	background: #3fa5d6;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	border: none;
	color: #fff;
	transition: 0.4s;

  }

  .button-fom:hover{
  	background: #7bb8ec;
  	cursor: pointer;
  }

.logo
{
	margin-right: 15px;
    width: 80px;
}

#cit1 {
  height: 400px;
  background-image: url(01.jpg);
  background-position: center center;
  background-size: cover;
}

#cit2 {
  height: 400px;
  background-image: url(02.jpg);
  background-position: center center;
  background-size: cover;
}

#cit3 {
  height: 400px;
  background-image: url(03.jpg);
  background-position: center center;
  background-size: cover;
}

